* {
    padding: 0px;
    margin: 0px;
}

#wrapper {
    color:white;
    border-left: 4px solid;
    border-right: 4px solid;
    border-bottom: 4px solid;
    border-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgb(12, 12, 122);
    width: 970px;
}

#header {
    /* margin-top: 10px; */
    
}

#header h1 {
    width: auto;
    height: 60px;
    background-color: red;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 15px;
}

#navi {
    vertical-align: top;
    background-color: teal;
    display: inline-block;
    border-radius: 10px;
    margin-right: 1%;
    margin-left: 10px;
    width: 18%;
    padding-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
}

span {
    color: purple;
}

#bullets {
    /* padding: 0px 0px 0px 15%; */
    font-size: 10pt;
    margin-left: 10px;
}

#bullets li ul li {
    margin-left: 10px;
}

#navi h4 a {
    /* margin-left:
    padding-top: 10px; */
}

#main {
    padding-left: 2%;
    margin-left: 0px;
    margin-right: 10px;
    display: inline-block;
    background-color: black;
    border-radius: 10px;
    width: 73%;
    padding-bottom: 15px;
    padding-top: 20px;
    padding-right: 10px;
} 

#main ul li {
    padding-top: 5pt;
    margin-left: 10pt;
    
}

#main ul li a {
    color: teal;
}

#footer {
    margin-top: 15px;
    padding: 15px 0px 0px 25px;
    height: 30px;
    background-color: grey;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 15px;
}